.theme-dark :root {
    --border-radius-messages: 0.425rem !important;
    --color-chat-active: #2b5378 !important;
    --color-chat-hover: #202b36 !important;
    --color-text-meta-colored: #5288c1 !important;
    --color-background: #202b36 !important;
    --header-height: 4.5rem !important;
    --color-primary: #5288c1 !important;
    --color-accent-own: #5288c1 !important;
    --color-borders: #17212b !important;
}

.theme-light :root {
    --border-radius-messages: 0.425rem !important;
}

.chat-list .ListItem.chat-item-clickable .Avatar {
    display: flex !important;
    padding: 4px !important;
    background-clip: content-box !important;
    background: none !important;
    width: 40px !important;
    position: relative !important;
}
.chat-list .ListItem.chat-item-clickable .Avatar.no-photo {
    color: var(--background-color) !important;
}

.chat-list .ListItem.chat-item-clickable .Avatar::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none !important;
    background-color: gray;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
} 

.chat-list .ListItem.chat-item-clickable .Avatar.online::after{
    background-color: #0ac630 !important;
}

.chat-list .ListItem.chat-item-clickable.group .Avatar::after{
    background-image: url("https://www.svgrepo.com/show/152056/group.svg");
    background-size: contain !important;
    background-position: center !important;
    background-color: transparent !important;
    border: none !important;
    width: 20px;
    height: 20px;
    box-shadow: none !important;
}

.chat-list .ListItem.chat-item-clickable .Avatar img{
    display: none !important;
}

.Avatar img:not(.emoji) {
    display: block !important;
}

#MediaViewer .media-viewer-content>img {
    display: block !important;
}

.ProfilePhoto {
    display: block !important;
}

.MiddleHeader .Avatar {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.message-content.media .media-inner.interactive,
.WebPage .media-inner.interactive {
    display: flex !important;
}

.StickerPicker-main {
    display: block !important;
}

.message-content.custom-shape .media-inner .full-media {
    visibility: visible !important;
    content: unset !important;
}

.StickerSetModal .stickers {
    display: block !important;
}


/* Chat */
.theme-dark .chat-list {
    padding: 1px 0px !important;
    margin-right: -8px !important;
    --color-background: #17212b !important;
}

.theme-light .chat-list {
    padding: 1px 0px !important;
    margin-right: -8px !important;
}

.ListItem.chat-item-clickable .ListItem-button {
    border-radius: 0px !important;
}

.VideoPlayer {
    display: block !important;
}

.messages-container {
    width: 100% !important;
    max-width: unset !important;
    padding: 16px 32px !important;
}

.middle-column-footer {
    width: 100% !important;
    max-width: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.MessageList {
    margin-bottom: 0px !important;
}

.middle-column-footer>div {
    margin-bottom: 0px !important;
}

.middle-column-footer>div>button {
    display: none !important;
}

.middle-column-footer::before {
    content: none !important;
}

.theme-dark #message-compose {
    border-radius: 0px !important;
    max-width: 100% !important;
    background-color: #17212b !important;
}

.theme-light #message-compose {
    border-radius: 0px !important;
    max-width: 100% !important;
}

.SymbolMenu {
    z-index: 1500 !important;
}

.SymbolMenu .bubble.menu-container {
    border-radius: 4px !important;
    display: flex !important;
    flex-direction: column !important;
}

.SymbolMenu .opacity-transition:not(.shown) {
    display: none !important;
}

.Menu .bubble {
    --offset-x: 8px !important;
}

.AttachMenu .bubble.menu-container {
    border-radius: 4px !important;
}

.SymbolMenu-footer {
    order: 1;
    border-bottom: 1px solid var(--color-borders) !important;
}

.SymbolMenu-main {
    order: 2;
}

.EmojiPicker {
    display: flex !important;
    flex-direction: column !important;
}

.EmojiPicker-header {
    order: 2 !important;
    border-top: 1px solid var(--color-borders) !important;
    border-bottom: none !important;
}

.StickerPicker {
    display: flex !important;
    flex-direction: column !important;
}

.StickerPicker-header {
    order: 2 !important;
    border-top: 1px solid var(--color-borders) !important;
    border-bottom: none !important;
}

.theme-dark  #middle-column-bg::before,
.theme-dark  #middle-column-bg::after {
    background: url("https://blog.1a23.com/wp-content/uploads/sites/2/2020/02/pattern-10.svg") !important;
    background-color: #0e1621 !important;
}

/* .theme-light  #middle-column-bg::before,
.theme-light  #middle-column-bg::after {
    background: url("https://blog.1a23.com/wp-content/uploads/sites/2/2020/02/pattern-10.svg") !important;
    opacity: .2;
    background-color: #5288c1;
} */

#MiddleColumn {
    border: none !important;
    z-index: 1400 !important;
}

.theme-dark .Chat {
    --background-color: #17212b !important;
}

.theme-dark #LeftColumn {
    box-shadow: #131c24 0px 0px 1px 1px !important;
    z-index: 1004;
}
.theme-light #LeftColumn {
    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 15%) !important;
    z-index: 1004;
}

.theme-light .LeftMainHeader {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    height: 65px;
}

.theme-light #LeftMainHeader {
    height: 100%;
}

.SearchInput {
    border-radius: 6px !important;
}

.SearchInput>input {
    height: 36px !important;
}

.SearchInput>i {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.theme-dark .MiddleHeader {
    background: #17212b !important;
}

.theme-dark .TabList {
    background: #17212b !important;
}

.theme-dark #LeftMainHeader {
    background: #17212b !important;
}

.theme-dark .Message svg path {
    fill: #182533 !important;
}

.theme-dark .Message.own svg path {
    fill: #2b5378 !important;
}

.theme-dark .MessageOutgoingStatus i {
    background-color: transparent !important;
}

.theme-dark .Message {
    --background-color: #182533 !important;
}

.theme-dark .Message.own {
    --background-color: #2b5378 !important;
}

.HeaderPinnedMessage-wrapper {
    border-radius: 6px !important;
    padding: 4px !important;
}

.Composer.hover-disabled {
    display: none !important;
}

.theme-dark .connection-state-wrapper {
    position: fixed !important;
    bottom: 24px !important;
    top: unset !important;
    left: 24px !important;
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    z-index: 10040 !important;
}

.theme-dark #ConnectionState {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    border-radius: 6px !important;
    margin: 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: var(--color-chat-active) !important;
    border-radius: 6px !important;
    box-shadow: 0px 0px 5px 0px #dadce045 !important;
}

.theme-dark .Spinner>div {
    background-image: var(--spinner-white-data) !important;
}

.theme-dark #ConnectionState .state-text {
    margin: 0px !important;
    display: none !important;
    margin-top: 18px !important;
    color: white !important;
}

.theme-dark #LeftColumn-main .pull-down {
    transform: none !important;
}

.theme-dark .composer-tooltip {
    width: calc(100% - 16px) !important;
    left: 8px !important;
    right: 8px !important;
}

.Modal {
    z-index: 1500 !important;
}

.StickerTooltip {
    border-radius: 0px !important;
    bottom: 46px !important;
    left: 0px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 25%);
}

#RightColumn-wrapper {
    z-index: 1450 !important;
}